# Chapter 6 Return Values

## Some Functions Have Return Values

In [1]:
import math

math.sqrt(42 / math.pi)

3.656366395715726

In [2]:
radius = math.sqrt(42 / math.pi)

In [3]:
radius

3.656366395715726

In [4]:
radius + math.sqrt(42 / math.pi)

7.312732791431452

In [5]:
def circle_area(radius):
    area = math.pi * radius ** 2
    return area

In [6]:
circle_area(radius)

42.00000000000001

In [7]:
a = circle_area(radius)

In [8]:
circle_area(radius) + 2 * circle_area(radius / 2)

63.000000000000014

In [9]:
a

42.00000000000001

In [10]:
# NameError: name 'area' is not defined
# area

## And Some Have None

In [11]:
def repeat(word, n):
    print(word * n)

In [12]:
repeat('Finland, ', 3)

Finland, Finland, Finland,

In [13]:
result = repeat('Finland, ', 3)

Finland, Finland, Finland,

In [14]:
result

In [15]:
print(result)

None

In [16]:
def repeat_string(word, n):
    return word * n

In [17]:
line = repeat_string('Spam, ', 4)

In [18]:
line

'Spam, Spam, Spam, Spam, '

## Return Values and Conditions

In [19]:
def absolute_value(x):
    if x < 0:
        return -x
    else:
        return x

In [20]:
def absolute_value_wrong(x):
    if x < 0:
        return -x
    if x > 0:
        return x

In [21]:
absolute_value_wrong(0)

In [22]:
def absolute_value_extra_return(x):
    if x < 0:
        return -x
    else:
        return x
    
    return 'This is dead code'

## Incremental Development

In [23]:
def distance(x1, y1, x2, y2):
    return 0.0

In [24]:
distance(1, 2, 4, 6)

0.0

In [25]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    print('dx is', dx)
    print('dy is', dy)
    return 0.0

In [26]:
distance(1, 2, 4, 6)

dx is 3
dy is 4

0.0

In [27]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx ** 2 + dy ** 2
    print('dsquared is: ', dsquared)
    return 0.0

In [28]:
distance(1, 2, 4, 6)

dsquared is:  25

0.0

In [29]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx ** 2 + dy ** 2
    result = math.sqrt(dsquared)
    print("result is", result)

In [30]:
distance(1, 2, 4, 6)

result is 5.0

In [31]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx ** 2 + dy ** 2
    result = math.sqrt(dsquared)
    return result

In [32]:
distance(1, 2, 4, 6)

5.0

In [33]:
d = distance(1, 2, 4, 6)

## Boolean Functions

In [34]:
def is_divisible(x, y):
    if x % y == 0:
        return True
    else:
        return False

In [35]:
is_divisible(6, 4)

False

In [36]:
is_divisible(6, 3)

True

In [37]:
def is_divisible(x, y):
    return x % y == 0

In [38]:
if is_divisible(6, 2):
    print('divisible')

divisible

In [39]:
if is_divisible(6, 2) == True:  # comparison is unnecessary
    print('divisible')

divisible

## Recursion with Return Values

In [40]:
def factorial(n):
    return 0

In [41]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return 0

In [42]:
def factorial(n):
    if n == 0:
        return 1
    else:
        recurse = factorial(n - 1)
        return n * recurse

## Leap of Faith

## Fibonacci

In [43]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [44]:
fibonacci(6)

8

## Checking Types

In [45]:
# RecursionError: maximum recursion depth exceeded in comparison
# factorial(1.5)

In [46]:
isinstance(3, int)

True

In [47]:
isinstance(1.5, int)

False

In [48]:
def factorial(n):
    if not isinstance(n, int):
        print('factorial is only defined for integers.')
        return None
    elif n < 0:
        print('factorial is not defined for negative numbers.')
        return None
    elif n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [49]:
factorial('crunchy frog')

factorial is only defined for integers.

In [50]:
factorial(-2)

factorial is not defined for negative numbers.

## Debugging

In [51]:
def factorial(n):
    space = ' ' * (4 * n)
    print(space, 'factorial', n)
    if n == 0:
        print(space, 'returning 1')
        return 1
    else:
        recurse = factorial(n - 1)
        result = n * recurse
        print(space, 'returning', result)
        return result

In [52]:
factorial(3)

             factorial 3
         factorial 2
     factorial 1
 factorial 0
 returning 1
     returning 1
         returning 2
             returning 6

6